<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio Homepage</title>
    <link rel="stylesheet" href="~/css/stylesheet.css">
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/projects">Projects</a>
            <a href="/contact">Contact</a>
        </nav>
    </header>
    <main>
        <h1>About Me</h1>
        <section>
            <img src="~/images/plato.jpg" alt="Me, Plato, staring off into the distance" class="profile">
            <h3>Plato</h3>
            <p>"Your silence gives consent."</p>
        </section>
        <section>
            <p>
                I am an Athenian philosopher during the Classical period in Ancient Greece, founder of the Platonist school of thought, and the Academy, the first institution of higher learning in the Western world. I am the innovator of the written dialogue and dialectic forms in philosophy. I am also considered the founder of Western political philosophy. My most famous contribution is the theory of Forms known by pure reason, in which I presents a solution to the problem of universals known as Platonism (also ambiguously called either Platonic realism or Platonic idealism). I am also the namesake of Platonic love and the Platonic solids.
            </p>
        </section>
    </main>
</body>
</html>