<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="~/css/stylesheet.css">
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/projects">Projects</a>
            <a href="/contact">Contact</a>
        </nav>
    </header>
    <main>
        <h1>All of the projects/products</h1>
        <section class="projects">
            <img src="~/images/dietWater.jpg" alt="bottles of diet water" class="projectImage">
            <div>
            <h5>Diet Water</h5>
            <span>Revolutionary Diet Water! You can now drink water with ZERO, that's right, ZERO sugar AND ZERO calories!</span>
            </div>
            <img src="~/images/shrek.jpg" alt="shrek fasemask" class="projectImage">
            <div>
            <h5>Shrek Fasemask</h5>
            <span>Now you can look like your idol with this life-like Shrek mask. People WILL be asking for your John Hancock.</span>
            </div>
            <img src="~/images/vodka.jpg" alt="bottle of alcohol free vodka" class="projectImage">
            <div>
            <h5>Virgin Vodka</h5>
            <span>Now you can enjoy the great taste of cheap vodka without any of the negative effects of alcohol. Drink VODKA AND DRIVE!</span>
            </div>
        </section>
    </main>
</body>
</html>